body::before {
  content: "";
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Images/indexbackground.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure the background is behind other content */
}

.container {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 10);
  overflow: hidden;
  width:100%;
  height: 75px;
  text-align: center;
}

/* Optional: Adjust the margin if needed */
.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.form {
  padding: 30px;
  color: #333;
}

h2 {
  margin-bottom: 20px;
  color: #1e4158;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #4f5d73;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  outline: none;
}

.Logbuttons,
.Regbuttons {
  margin-bottom: 10px;
}
.buttons-container {
  position: absolute;
  top: 28px;
  right: 18px;
  display: flex; /* Use flexbox to arrange buttons side by side */
}
button:hover {
  background-color: #12202b;
  color: #fff;
  
}

button {
  padding: 8px 16px;
}
footer {
  text-align: center;
  padding: 0.2px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
}