body {
    background: linear-gradient(to right, #283048, #859398);
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide the overflow to prevent horizontal scrolling */
}