body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #6b4ac7;
  color: #fff;
  padding: 10px;
  text-align: right;
}

#user-info {
  display: none; /* Initially hide the user info */
}